global-include *.py
global-include *.json
global-include *.service
global-include *.conf
include requirements.txt
global-exclude *.pyc
recursive-exclude venv/ *
exclude run_tests.py
exclude Makefile
exclude MANIFEST.in
exclude .gitignore
exclude requirements_test.txt
exclude MANIFEST.in
prune .hooks
prune .eggs
prune dist